.header {
  width: 100%;
  height: .8rem;
  line-height: .8rem;
}

.title {
  color: #00b600;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: .3rem;
}

.search {
  width: .6rem;
  height: .4rem;
  float: right;
  margin-top: .25rem;
  margin-right: .3rem;
  background: url('../image/search.png') no-repeat;
  background-size: contain;
}