.more {
  font-size: .9em;
  color: #42bd56;
  float: right;
  line-height: 1.8em;
  text-decoration: none;
}

.container {
  margin-left: .3rem;
  white-space: nowrap;
  overflow-x: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.container > div {
  margin-right: .2rem;
}

.wrapper > div {
  margin-left: .35rem;
  margin-bottom: .5rem;
}

.subject {
  margin: .4rem 0;
  padding: 0 .3rem;
  font-size: 1.2em; 
  position: relative;
}

.subject:before {
  content: '';
  width: .06rem;
  height: 100%;
  background: #42bd56;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}